//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// MATH STYLING
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

.katex-display {overflow: auto hidden}
.katex-display > .katex { white-space: normal }
/* Add space between broken lines: */
.katex-display > .base { margin: 0.25em 0 }
/* Compensate by reducing space around display math */
.katex-display { margin: 0.5em 0; }


[data-math-node] {
    @media (prefers-color-scheme: dark) {
        color: #ffb7e4;
    }
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// LAYOUT
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[data-cmd="layout"][show-rule="true"] {
    column-rule: 1px solid #ccc;
}
[data-cmd="layout"] {
    column-gap: 20px;
    row-gap: 10px;
    padding: 0 20px;
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        break-after: avoid;
        text-align: center;
        border-top: none;
        border-bottom: none;
    }
    p {
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            text-align: justify;
            hyphens: auto;
        }
    }
    p:first-child {
        text-indent: 0;
    }
    p + p {
        text-indent: 2em;
    }
    ul {
        list-style-position: outside;
        margin-left: 12px;
    }
    [data-math-node="block"] {
        column-span: all;
    }
}

@mixin layout-base($col) {
    [data-cmd="layout"][data-col="#{$col}"] {
        column-count: $col;
    }
}
@mixin layout-breakpoint($min, $for, $to) {
    @media (max-width: $min) {
        [data-cmd="layout"][data-col="#{$for}"] {
            column-count: $to;
        }
    }
}

@include layout-base(1);
@include layout-base(2);
@include layout-base(3);
@include layout-base(4);
@include layout-breakpoint(1200px, 4, 3);
@include layout-breakpoint(960px, 3, 2);
@include layout-breakpoint(960px, 3, 2);
@include layout-breakpoint(900px, 4, 2);
@include layout-breakpoint($max-single-col, 4, 1);
@include layout-breakpoint($max-single-col, 3, 1);
@include layout-breakpoint($max-single-col, 2, 1);

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// NOTE
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――



//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// GRID - BASICS
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

@mixin boxed-styling {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    @media (prefers-color-scheme: light) {
        border: 1px solid #535353;
        box-shadow: 0 0 0px 1px #eeeeee;
    }
    @media (prefers-color-scheme: dark) {
        border: 1px solid #755e45;
        box-shadow: 0px 0px 1px 1px #0000005c;
    }
}

[data-cmd="grid"][boxed] {
    & > [data-cmd="note"] {
        @include boxed-styling;
    }
    & > [data-math-node="block"] {
        @include boxed-styling;
    }
}

[data-cmd="note"][boxed] {
    @include boxed-styling;
}

[data-cmd="grid"] {
    display: grid;
    padding: 0 20px;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
    h1, h2, h3, h4, h5, h6 {
        border: none;
        border-top: none;
        border-bottom: none;
        padding: 0;
        text-align: center;
    }
}

[data-cmd="note"] {
    @include single-column-child-styling;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    overflow: hidden;
    align-items: normal;
    grid-row-gap: 12px;
    h1, h2, h3, h4, h5, h6 {
        border: none;
        border-top: none;
        border-bottom: none;
        text-align: center;
        padding: 0 10px;
    }
    [data-cmd="note"] {
        margin: 10px;
    }
}



//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// GRID - LAYOUT
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

@mixin grid-layout-for($col) {
    [data-cmd="grid"][data-col="#{$col}"] {
        grid-template-columns: repeat($col, 1fr);
    }
}

@mixin grid-breakpoint($min, $for, $to) {
    @media (max-width: $min) {
        [data-cmd="grid"][data-col="#{$for}"] {
            grid-template-columns: repeat($to, 1fr);
        }
    }
}

@include grid-layout-for(1);
@include grid-layout-for(2);
@include grid-layout-for(3);
@include grid-layout-for(4);


@include grid-breakpoint(1200px, 4, 3);
@include grid-breakpoint(960px, 3, 2);
@include grid-breakpoint(960px, 3, 2);
@include grid-breakpoint(900px, 4, 2);
@include grid-breakpoint($max-single-col, 4, 1);
@include grid-breakpoint($max-single-col, 3, 1);
@include grid-breakpoint($max-single-col, 2, 1);

// [data-cmd="grid"][data-col="1"] {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
// }
// [data-cmd="grid"][data-col="2"] {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
// }
// [data-cmd="grid"][data-col="3"] {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
// }
// [data-cmd="grid"][data-col="4"] {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
// }


// div[data-cmd="grid"] {
//     display: grid;
//     row-gap: 10px;
//     padding: 0 20px;
//     // column-rule: 1px solid #ccc;
//     h1, h2, h3, h4, h5, h6 {
//         margin: 0;
//         break-after: avoid;
//     }
//     p {
//         margin: 0;
//     }
//     ul {
//         margin: 0;
//         padding: 0;
//         li {
//             text-align: justify;
//             hyphens: auto;
//         }
//     }
//     p:first-child {
//         text-indent: 0;
//     }
//     p + p {
//         text-indent: 2em;
//     }
//     ul {
//         list-style-position: outside;
//         margin-left: 12px;
//     }
//     [data-math-node="block"] {
//         column-span: all;
//     }
// }

// @mixin layout-base($col) {
//     div[data-cmd="layout"][data-col="#{$col}"] {
//         // grid-template-columns: repeat($col, 1fr);
//         column-count: $col;
//     }
// }
// @mixin layout-breakpoint($min, $for, $to) {
//     @media (max-width: $min) {
//         div[data-cmd="layout"][data-col="#{$for}"] {
//             column-count: $to;
            
//         }
//     }
// }

// @include layout-base(1);
// @include layout-base(2);
// @include layout-base(3);
// @include layout-base(4);
// @include layout-breakpoint(1200px, 4, 3);
// @include layout-breakpoint(960px, 3, 2);
// @include layout-breakpoint(960px, 4, 2);
// @include layout-breakpoint(760px, 4, 1);
// @include layout-breakpoint(760px, 3, 1);
// @include layout-breakpoint(760px, 2, 1);


//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// DRAWINGS
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[data-drawing] {
    max-width: 960px;
    margin: 0 auto;
}


.toggle-visibility {
    header {
        padding: 2px;
        display: flex;
        flex-direction: column;
    }
    button {
        padding: 0;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        display: none;
        font-size: 3em;
        span {
            font-size: 0.7em;
            margin-top: -5px;
            margin-bottom: -5px;
        }
    }
    div.toggle-visibility-content {
        display: none;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media (prefers-color-scheme: dark) {
        button {
            background-color: #3939395c;
            border: 1px solid #000;
            color: #fff;
        }
        button:hover {
            box-shadow: 0 0 1px 1px #0083ff;
            color: #0083ff;
        }
    }
    @media (prefers-color-scheme: light) {
        button {
            border: 1px solid #a0a0a0;
            background: transparent;
            color: #555555;
        }
        button:hover {
            color: #ff00e1;
            border-color: #ff00e1;
        }
    }
}

.toggle-visibility[data-visible="false"] {
    button[class="expand"] {
        display: flex;
    }
}
.toggle-visibility[data-visible="true"] {
    button[class="collapse"] {
        display: flex;
    }
    div.toggle-visibility-content {
        display: flex;
    }
}

