//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// MATH STYLING
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

.katex-display {overflow: auto hidden}
.katex-display > .katex { white-space: normal }
/* Add space between broken lines: */
.katex-display > .base { margin: 0.25em 0 }
/* Compensate by reducing space around display math */
.katex-display { margin: 0.5em 0; }

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// LAYOUT
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[data-cmd="layout"][show-rule="true"] {
    column-rule: 1px solid #ccc;
}
[data-cmd="layout"]:not([data-col="note"]) {
    column-gap: 20px;
    row-gap: 10px;
    padding: 0 20px;
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        break-after: avoid;
    }
    p {
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            text-align: justify;
            hyphens: auto;
        }
    }
    p:first-child {
        text-indent: 0;
    }
    p + p {
        text-indent: 2em;
    }
    ul {
        list-style-position: outside;
        margin-left: 12px;
    }
    [data-math-node="block"] {
        column-span: all;
    }
}

@mixin layout-base($col) {
    [data-cmd="layout"][data-col="#{$col}"]:not([force-single-col="on"]) {
        column-count: $col;
        @if $col == 1 {
            display: contents;
        }
    }
    [data-cmd="layout"][data-col="#{$col}"][force-single-col="on"] {
        display: contents;
    }
}
@mixin layout-breakpoint($min, $for, $to) {
    @media (max-width: $min) {
        [data-cmd="layout"][data-col="#{$for}"] {
            column-count: $to;
            @if $to == 1 {
                display: contents;
                @include single-column-section-styling;
            }
        }
    }
}

@include layout-base(1);
@include layout-base(2);
@include layout-base(3);
@include layout-base(4);
@include layout-breakpoint(1200px, 4, 3);
@include layout-breakpoint(960px, 3, 2);
@include layout-breakpoint(960px, 3, 2);
@include layout-breakpoint(900px, 4, 2);
@include layout-breakpoint($max-single-col, 4, 1);
@include layout-breakpoint($max-single-col, 3, 1);
@include layout-breakpoint($max-single-col, 2, 1);

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// NOTE
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――



//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// GRID - BASICS
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

@mixin boxed-styling {
    box-shadow: 0 0 3px 0px #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #535353;
}

[data-cmd="grid"][boxed] {
    [data-cmd="note"] {
        @include boxed-styling;
    }
}

[data-cmd="note"][boxed] {
    @include boxed-styling;
}

[data-cmd="grid"] {
    display: grid;
    padding: 0 20px;
    row-gap: 10px;
    column-gap: 10px;
    :is(h1, h2, h3, h4, h5, h6) {
        border: none;
        border-top: none;
        border-bottom: none;
        padding: 0;
    }
}

[data-cmd="note"] {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    [data-cmd="note"] {
        margin: 10px;
    }
}



//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// GRID - LAYOUT
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

@mixin grid-layout-for($col) {
    [data-cmd="grid"][data-col="#{$col}"] {
        grid-template-columns: repeat($col, 1fr);
    }
}

@include grid-layout-for(1);
@include grid-layout-for(2);
@include grid-layout-for(3);
@include grid-layout-for(4);

// [data-cmd="grid"][data-col="1"] {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
// }
// [data-cmd="grid"][data-col="2"] {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
// }
// [data-cmd="grid"][data-col="3"] {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
// }
// [data-cmd="grid"][data-col="4"] {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
// }


// div[data-cmd="grid"] {
//     display: grid;
//     row-gap: 10px;
//     padding: 0 20px;
//     // column-rule: 1px solid #ccc;
//     h1, h2, h3, h4, h5, h6 {
//         margin: 0;
//         break-after: avoid;
//     }
//     p {
//         margin: 0;
//     }
//     ul {
//         margin: 0;
//         padding: 0;
//         li {
//             text-align: justify;
//             hyphens: auto;
//         }
//     }
//     p:first-child {
//         text-indent: 0;
//     }
//     p + p {
//         text-indent: 2em;
//     }
//     ul {
//         list-style-position: outside;
//         margin-left: 12px;
//     }
//     [data-math-node="block"] {
//         column-span: all;
//     }
// }

// @mixin layout-base($col) {
//     div[data-cmd="layout"][data-col="#{$col}"] {
//         // grid-template-columns: repeat($col, 1fr);
//         column-count: $col;
//     }
// }
// @mixin layout-breakpoint($min, $for, $to) {
//     @media (max-width: $min) {
//         div[data-cmd="layout"][data-col="#{$for}"] {
//             column-count: $to;
            
//         }
//     }
// }

// @include layout-base(1);
// @include layout-base(2);
// @include layout-base(3);
// @include layout-base(4);
// @include layout-breakpoint(1200px, 4, 3);
// @include layout-breakpoint(960px, 3, 2);
// @include layout-breakpoint(960px, 4, 2);
// @include layout-breakpoint(760px, 4, 1);
// @include layout-breakpoint(760px, 3, 1);
// @include layout-breakpoint(760px, 2, 1);




