//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// CONTENT
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

p {
    hyphens: auto;
    text-align: justify;
    text-indent: 7px;
}

p[center] {
    text-align: center;
}

p[justify] {
    text-align: justify;
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// MISCELLANEOUS
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

a {
    color: var(--link-color);
}

hr {
    @media (prefers-color-scheme: dark) {
        border: 1px solid var(--border-color);
        border-bottom: none;
    }
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
}

img[data-center] {
    display: block;
    margin: 0 auto;
}

[data-table-wrapper] {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    position: relative;
    overflow-x: scroll;
}

table {
    width: fit-content;
    border-collapse: collapse;
    border: none;
    align-self: center;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    width: fit-content;
    th, td {
        padding: 10px;
        @media (prefers-color-scheme: light) {
            border: 1px solid black;
        }
        @media (prefers-color-scheme: dark) {
            border: 1px solid #616161;
        }
    }
    tr:hover {
        @media (prefers-color-scheme: light) {
            background-color: #ebebeb;
        }
        @media (prefers-color-scheme: dark) {
            background-color: #2c2c2c87;
        }
    }

    span[data-table-list] {
        display: flex;
        justify-content: space-evenly;
        column-gap: 8px;
    }
    span[data-table-list] > span {
        padding: 2px 4px;
        border-radius: 3px;
        font-weight: 100;
    }
    span[data-table-list][data-color] > span {
        border: 1px solid #01ff5c;
        color: #01ff5c;
    }
    span[data-table-list][data-color1] > span {
        border: 1px solid #c1ff02;
        color: #c1ff02;
    }
    span[data-table-list][data-color2] > span {
        border: 1px solid #27fce2;
        color: #27fce2;
    }
}

mark[font] {
    background-color: unset;
    color: #0fffae;
}
mark[font][data-color] {
    color: #01ff5c;
}
mark[font][data-color1] {
    color: #c1ff02;
}
mark[font][data-color2] {
    color: #27fce2;
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// HEADLINES
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// HEADLINES
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

h1, h2, h3, h4, h5, h6 {
    // font-family: 'Miss Fajardose', cursive;
    // font-family: 'Lovers Quarrel', cursive;
    // font-family: 'Tangerine', cursive;
    // font-family: 'Caveat', cursive;
    // font-family: 'Tangerine', cursive;
    // font-family: 'Stalemate', cursive;
    // font-family: 'Ballet', cursive;
    // font-family: 'Elsie Swash Caps', cursive;
    // font-family: 'Sansita Swashed', cursive;
    font-family: var(--headline-font);
    font-size: 3em;
    margin: 0;
    a {
        text-decoration: none;
        color: inherit;
    }
}

h1 {
    font-size: 2.8em;
    color: var(--h1-color);
}
h2 {
    font-size: 2.5em;
    color: var(--h2-color);
}
h3 {
    font-size: 2.2em;
    color: var(--h3-color);
}
h4 {
    font-size: 1.9em;
    color: var(--h4-color);
}
h5 {
    font-size: 1.6em;
    color: var(--h5-color);
}
h6 {
    font-size: 1.3em;
    color: var(--h6-color);
}

main > :is(h1, h2, h3, h4, h5, h6):first-child {
    border-top: unset;
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// COLUM STYLING
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

@mixin single-column-child-styling {
    & > *:is(h1, h2, h3, h4, h5, h6) {
        border-bottom: 1px solid var(--border-color);
        border-top: 1px solid var(--border-color);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    & > *:is(h1, h2, h3, h4, h5, h6) + & > *:is(h1, h2, h3, h4, h5, h6) {
        border-top: unset;
    }
    & > h1 {
        padding-left: min(min(10px, 5vw), 100px);
        font-size: 2.8em;
    }
    & > h2 {
        padding-left: min(min(30px, 10vw), 150px);
        font-size: 2.5em;
    }
    & > h3 {
        padding-left: min(min(60px, 15vw), 200px);
        font-size: 2.2em;
    }
    & > h4 {
        padding-left: min(min(90px, 20vw), 250px);
        font-size: 1.9em;
    }
    & > h5 {
        padding-left: min(min(120px, 25vw), 300px);
        font-size: 1.6em;
    }
    & > h6 {
        padding-left: min(min(150px, 30vw), 350px);
        font-size: 1.3em;
    }
    & > *:not(:is(h1, h2, h3, h4, h5, h6)) {
        text-align: justify;
        padding: 0 20px;
    }
    & > dl {
        dt {
            text-align: left;
        }
        dd {
            text-align: justify;
        }
    }
    & > ul, ol {
        padding-left: 30px;
    }
    & > hr {
        width: 95%;
    }
    // & > [data-math-node="block"] {
    //     // margin: 0 40px;
    //     border-right: 1px solid #ccc;
    //     border-left: 1px solid #ccc;
    // }
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// PLEASE CLEAN ME UP
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――


main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 20px;
    @include single-column-child-styling;
}



//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// LISTS
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――



