/* UNIVERSAL BOX SIZING WITH INHERITANCE */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* DARK/LIGHT MODE DRAWING TOGGLE */
@media (prefers-color-scheme: dark) {
    :root {
    --color-bg: #2b303d;
    --color-fg: #fff;
    // --link-color: #18deff;
    --link-color: #dba4f9;
    }
    svg[data-svg-color-scheme="dark-mode"] {
        display: unset;
    }
    svg[data-svg-color-scheme="light-mode"] {
        display: none;
    }
}
@media (prefers-color-scheme: light) {
    svg[data-svg-color-scheme="dark-mode"] {
        display: none;
    }
    svg[data-svg-color-scheme="light-mode"] {
        display: unset;
    }
}

html, body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--content-font);
    shape-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// CONTENT
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

p {
    hyphens: auto;
    text-align: justify;
    text-indent: 7px;
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// MISCELLANEOUS
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

a {
    color: var(--link-color);
}

hr {
    @media (prefers-color-scheme: dark) {
        border: 1px solid #000;
        border-bottom: none;
    }
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// HEADLINES
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// HEADLINES
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

h1, h2, h3, h4, h5, h6 {
    // font-family: 'Miss Fajardose', cursive;
    // font-family: 'Lovers Quarrel', cursive;
    // font-family: 'Tangerine', cursive;
    // font-family: 'Caveat', cursive;
    // font-family: 'Tangerine', cursive;
    // font-family: 'Stalemate', cursive;
    // font-family: 'Ballet', cursive;
    // font-family: 'Elsie Swash Caps', cursive;
    // font-family: 'Sansita Swashed', cursive;
    font-family: var(--headline-font);
    font-size: 3em;
    margin: 0;
    a {
        text-decoration: none;
        color: var(--color-fg);
    }
}

h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2.2em;
}
h4 {
    font-size: 1.9em;
}
h5 {
    font-size: 1.6em;
}
h6 {
    font-size: 1.3em;
}

main > :is(h1, h2, h3, h4, h5, h6):first-child {
    border-top: unset;
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// COLUM STYLING
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

@mixin multi-column-section-styling {
    :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
        padding: 0;
        text-align: center;
        border-top: none;
        border-bottom: none;
        font-family: var(--section-font);
    }
    h1 {
        font-size: 2.8em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 2.2em;
    }
    h4 {
        font-size: 1.9em;
    }
    h5 {
        font-size: 1.6em;
    }
    h6 {
        font-size: 1.3em;
    }
    p {
        padding: 0;
    }
}

@mixin single-column-section-styling {
    :is(h1, h2, h3, h4, h5, h6) {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    :is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
        border-top: unset;
    }
    h1 {
        padding-left: min(min(10px, 5vw), 100px);
        font-size: 2.8em;
    }
    h2 {
        padding-left: min(min(30px, 10vw), 150px);
        font-size: 2.5em;
    }
    h3 {
        padding-left: min(min(60px, 15vw), 200px);
        font-size: 2.2em;
    }
    h4 {
        padding-left: min(min(90px, 20vw), 250px);
        font-size: 1.9em;
    }
    h5 {
        padding-left: min(min(120px, 25vw), 300px);
        font-size: 1.6em;
    }
    h6 {
        padding-left: min(min(150px, 30vw), 350px);
        font-size: 1.3em;
    }
    p {
        padding: 0 40px;
    }
    [data-math-node="block"] {
        padding: 0 40px;
    }
}

//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// PLEASE CLEAN ME UP
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

@media (min-width: $max-single-col) {
    section:not([data-cmd="layout"][data-col="1"]):not([data-cmd="layout"][data-col="1"] > [data-cmd="note"]):not([force-single-col="on"]) {
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
    section:not([data-cmd="layout"][data-col="1"]):not([data-cmd="layout"][data-col="1"] > [data-cmd="note"]):not([force-single-col="on"]) > :is(h1, h2, h3, h4, h5, h6) {
        text-align: center;
        font-family: var(--section-font);
    }
    section:not([data-cmd="layout"][data-col="1"]):not([data-cmd="layout"][data-col="1"] > [data-cmd="note"]):not([force-single-col="on"]) > h1 {
        font-size: 2.8em;
    }
    section:not([data-cmd="layout"][data-col="1"]):not([data-cmd="layout"][data-col="1"] > [data-cmd="note"]):not([force-single-col="on"]) > h2 {
        font-size: 2.5em;
    }
    section:not([data-cmd="layout"][data-col="1"]):not([data-cmd="layout"][data-col="1"] > [data-cmd="note"]):not([force-single-col="on"]) > h3 {
        font-size: 2.2em;
    }
    section:not([data-cmd="layout"][data-col="1"]):not([data-cmd="layout"][data-col="1"] > [data-cmd="note"]):not([force-single-col="on"]) > h4 {
        font-size: 1.9em;
    }
    section:not([data-cmd="layout"][data-col="1"]):not([data-cmd="layout"][data-col="1"] > [data-cmd="note"]):not([force-single-col="on"]) > h5 {
        font-size: 1.6em;
    }
    section:not([data-cmd="layout"][data-col="1"]):not([data-cmd="layout"][data-col="1"] > [data-cmd="note"]):not([force-single-col="on"]) > h6 {
        font-size: 1.3em;
    }
    [data-cmd="layout"][data-col]:not([data-col="1"]):not([force-single-col="on"]) {
        @include multi-column-section-styling;
        [data-cmd="note"] {
            @include multi-column-section-styling;
        }
    }
}


@media (max-width: $max-single-col) {
    section {
        display: contents;
    }
}

[data-cmd="layout"][data-col][force-single-col="on"] {
    display: contents;
    @include single-column-section-styling;
    [data-cmd="note"] {
        @include single-column-section-styling;
    }
}
[data-cmd="layout"][data-col="1"] {
    display: contents;
    @include single-column-section-styling;
    [data-cmd="note"] {
        display: contents;
        @include single-column-section-styling;
    }
}

[data-cmd="layout"][data-col]:not([data-col="1"])[force-single-col="on"] {
    display: contents;
    @include single-column-section-styling;
    [data-cmd="note"] {
        @include single-column-section-styling;
    }
}


main {
    @include single-column-section-styling;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 20px;
}



//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// LISTS
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――



